dbtool/DBTool/bin/Debug/DBTool.exe
dbtool/DBTool/bin/Debug/DBTool.pdb
dbtool/DBTool/bin/Debug/DBTool.vshost.exe.config
dbtool/DBTool/bin/Debug/DBTool.vshost.exe.manifest
dbtool/DBTool/bin/Debug/dbtoolconfig.xml
dbtool/DBTool/bin/Debug/net.ELF.DBTool.exe
dbtool/DBTool/bin/Debug/net.ELF.DBTool.exe.config
dbtool/DBTool/bin/Debug/net.ELF.DBTool.pdb
dbtool/DBTool/bin/Debug/net.ELF.DBTool.vshost.exe
dbtool/DBTool/bin/Debug/net.ELF.DBTool.vshost.exe.config
dbtool/DBTool/obj/Debug/DBTool.csproj.FileListAbsolute.txt
dbtool/DBTool/obj/Debug/DBTool.Form1.resources
dbtool/DBTool/obj/Debug/DBTool.csproj.GenerateResource.Cache
dbtool/DBTool/obj/Debug/DBTool.Form2.resources
dbtool/DBTool/obj/Debug/DBTool.Properties.Resources.resources
dbtool/DBTool/obj/Debug/DesignTimeResolveAssemblyReferences.cache
dbtool/DBTool/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
dbtool/DBTool/obj/Debug/net.ELF.DBTool.exe
dbtool/DBTool/obj/Debug/net.ELF.DBTool.Form1.resources
dbtool/DBTool/obj/Debug/net.ELF.DBTool.Form2.resources
dbtool/DBTool/obj/Debug/net.ELF.DBTool.pdb
dbtool/DBTool/obj/Debug/net.ELF.DBTool.Properties.Resources.resources
dbtool/DBTool/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
dbtool/DBTool/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
dbtool/DBTool/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
dbtool/DBTool/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll